body {
	background-color: whitesmoke;
	color: midnightblue;
}
.btn {
	margin: 20px;
	padding: 5px;
	display: inline-block;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: gainsboro;
	transition-duration: 0.4s;
}
.btn:hover {
	background-color: silver;
}
.wrapper {
	margin-left: 20px;
}