body {
	background-color: whitesmoke;
	color: midnightblue;
}
.btnMain {
	margin: 30px;
	padding: 20px;
	font-size: 15px;
	color: white;
	display: inline-block;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: darkblue;
	transition-duration: 0.4s;
}
.btnMain:hover {
	background-color: gray;
}
.btn {
	margin: 20px;
	padding: 5px;
	display: inline-block;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: gainsboro;
	transition-duration: 0.4s;
}
.btnHide {
	display: none;
}
.btn:hover {
	background-color: silver;
}
.wrapper {
	margin-left: 20px;
}
.divSize {
	width: 400px;
	font-size: 15px;
	font-style: italic;
}