body {
	background-color: whitesmoke;
	color: midnightblue;
}
.para {
	background-color: lightblue;
	padding-left: 50px;
	transition-duration: 0.4s;
}
.para:hover {
	background-color: lightskyblue;
}
.photo {
	width: 200px;
	margin-left: 50px;
	border-radius: 10px;
}
.photoHobbies {
	width: 400px;
	margin-left: 50px;
	border-radius: 10px;
}
a:link {
  color: midnightblue;
  text-decoration: underline;
}
a:visited {
  color: midnightblue;
  text-decoration: underline;
}
a:hover {
  color: midnightblue;
  text-decoration: none;
}
.btn {
	margin: 50px;
	padding: 10px;
	display: block;
	border: none;
	outline: none;
	border-radius: 20px;
	background-color: gainsboro;
	transition-duration: 0.4s;
}
.btnActive {
	margin: 50px;
	padding: 10px;
	display: block;
	outline: none;
	border-radius: 20px;
	background-color: gainsboro;
	transition-duration: 0.4s;
}
.btn:hover {
	background-color: silver;
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.myUl {
	margin-left: 50px;
}
.hobbies {
	margin-left: 50px;
}