body {
	background-color: whitesmoke;
	color: midnightblue;
}
.h1Header {
	background-color: wheat;
}
h1 {
	margin: 30px 100px;
	padding-left: 20px;
}
p {
	padding-right: 50px;
}
.movieImg {
	height: 300px;
}
.divContainer {
	margin: 50px;
	display: flex;
	flex-wrap: wrap;
}
.divItem {
	flex: 1;
}
.mainDiv {
	margin: 50px;
}
.returnHome {
	border: 2px solid midnightblue;
	border-radius: 5px;
	background-color: midnightblue;
	color: whitesmoke;
	text-decoration: none;
	padding: 10px;
	margin-left: 120px;
}
.returnHome:active {
	background-color: whitesmoke;
	color: midnightblue;
}