.title {
  margin: 20px 20px;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: 250px;
  justify-content: space-around;
  gap: 10px;
  margin: 0 0 20px 0;
}